@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Plus&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.body{   
    background: #161815;
    animation: transitionIn 0.75s;
}
/* header */
.logo {
    color: #ffffff;
    font-size: 30px;
  }
  .logo span {
    color: #fff;
  }
  .menu-bar {
    background-color: var(--color-black);
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    position: relative;
    color: #fff;
  }
  .menu-bar ul {
    list-style: none;
    display: flex;
  
  }
  .menu-bar ul li {
    /* width: 120px; */
    padding: 10px 30px;
    /* text-align: center; */
    position: relative;
    border-bottom: 1px solid rgb(255, 255, 255);
  }
  .menu-bar ul li a {
    font-size: 20px;
    color: var(--color-white);
    text-decoration: none;
    transition: all 0.3s;
  }
  .menu-bar ul li a:hover {
    color: var(--color-primary);
  }
  .fas {
    float: right;
    margin-left: 10px;
    padding-top: 3px;
  }
  /* dropdown menu style */
  .dropdown-menu {
    display: none;
    z-index: 1000;
  }
  .menu-bar ul li:hover .dropdown-menu {
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: var(--color-black);
    z-index: 1000;
    
  }
  .menu-bar ul li:hover .dropdown-menu ul {
    display: block;
    margin: 10px;
    z-index: 1000;
    background: #000000;
    color: white;
  }
  .menu-bar ul li:hover .dropdown-menu ul li {
    width: 150px;
    padding: 10px;
    z-index: 1000;
  }
  .dropdown-menu-1 {
    display: none;
    z-index: 1000;
  }
  .dropdown-menu ul li:hover .dropdown-menu-1 {
    display: block;
    position: absolute;
    left: 150px;
    top: 0;
    background-color: var(--color-black);
    z-index: 1000;
  }
  .hero {
    height: calc(100vh - 80px);
    background-image: url(./bg.jpg);
    background-position: center;
    z-index: 1000;
  }
  
  
  /* secciones */
.section-padding{
    padding: 70px 0;
}

.carousel-item{
    height: 80vh;
    min-height: 300px;
}
.carousel-caption{
    bottom: 200px;
    z-index: 2;
}

.carousel-caption h5{
    font-size: 45px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 25px;
}

.carousel-caption p {
    width: 60%;
    margin: auto;
    font-size: 18px;
    line-height: 1.9;
    
}

.carousel-inner::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,30,82,0.327);
    z-index: 1;
}

.navbar-nav a {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 500;
}

.navbar-dark .navbar-brand {
    color: #fff;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
}

.navbar-light .navbar-brand:focus, .navbar-light .navbar-brand:hover {
    color: #000;
}

.w-100{
    height: 100vh;
}

.navbar-toggler {
    padding: 1px 5px;
    font-size: 18px;
    line-height: 0.3;
}

.lead{
    font-family: 'Itim', cursive;
    font-size: 40px;
}

.h5-text{
    font-family: 'Itim', cursive;
    color: white
}

.container-fluid{

    font-family: 'Poppins', sans-serif; 
    background: #161815;background: 
    linear-gradient(to right, #161815, #161815, #161815);
}

@keyframes transitionIn {
    from {
        opacity: 0;
        transform: rotateX(-10deg)
    }
    
    to {
        opacity: 1;
        transform: rotateX(0);
    }
}
