@import url('https://fonts.googleapis.com/css2?family=Poppins:300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

body
{
    overflow-x: hidden;
    background: #fff;
    min-height: 100vh;
}
/* header */
.logo {
    color: #094b65;
    font-size: 30px;
  }
  .logo span {
    color: var(--color-primary);
  }
  .menu-bar {
    background-color: var(--color-black);
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    position: relative;
    border-top: 1px solid rgba(0,0,0,0.4);
  }
  .menu-bar ul {
    list-style: none;
    display: flex;
  
  }
  .menu-bar ul li {
    /* width: 120px; */
    padding: 10px 30px;
    /* text-align: center; */
    position: relative;
    border-bottom: 1px solid rgba(0,0,0,0.4);
  }
  .menu-bar ul li a {
    font-size: 20px;
    color: var(--color-white);
    text-decoration: none;
    transition: all 0.3s;
  }
  .menu-bar ul li a:hover {
    color: var(--color-primary);
  }
  .fas {
    float: right;
    margin-left: 10px;
    padding-top: 3px;
  }
  /* dropdown menu style */
  .dropdown-menu {
    display: none;
    z-index: 1000;
  }
  .menu-bar ul li:hover .dropdown-menu {
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: var(--color-black);
    z-index: 1000;
    
  }
  .menu-bar ul li:hover .dropdown-menu ul {
    display: block;
    margin: 10px;
    z-index: 1000;
    background: #000000;
    color: white;
  }
  .menu-bar ul li:hover .dropdown-menu ul li {
    width: 150px;
    padding: 10px;
    z-index: 1000;
  }
  .dropdown-menu-1 {
    display: none;
    z-index: 1000;
  }
  .dropdown-menu ul li:hover .dropdown-menu-1 {
    display: block;
    position: absolute;
    left: 150px;
    top: 0;
    background-color: var(--color-black);
    z-index: 1000;
  }
  .hero {
    height: calc(100vh - 80px);
    background-image: url(./bg.jpg);
    background-position: center;
    z-index: 1000;
  }

/* Secciones */
.parallax
{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  font-size: 3em;
  z-index: 1000;
}

#text {
  position: absolute;
  font-size: 5em;
  color: #ffffff;
  text-shadow: 2px 2px 4px rgba(o, 0, 0, .2);
  z-index: 100;
}
.parallax img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  pointer-events: none;
}











/* FOOTER */
.footer{
    text-align: center;
    color: #fff;
    font-style: normal italic;
    background: #094b65}
.footer::before
{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    z-index: 10;
}


/* CARD */
.container__card{
    max-width: 1200px;
    margin: auto;
    margin-top: 100px;
    perspective: 1000px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card__father{
    margin: 20px;
    perspective: 1000px;
}

.card__father:hover .card{
    transform: rotateY(180deg);
}


.card{
    width: 350px;
    height: 400px;
    position: relative;
    transform-style: preserve-3d;
    transition: all 600ms;
}

.card__front{
    background-size: cover;
    background-position: center;
}


.card__front,
.card__back{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    border-radius: 20px;
}

.card__back{
    transform: rotateY(180deg);
    background: white;
}

.body__card_front{
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    transform: translateZ(60px);
}

.bg{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.4);
    border-radius: 20px;
}

.body__card_back{
    padding: 40px;
    text-align: center;
    transform: translateZ(60px);
}

.body__card_back p{
    margin-top: 30px;
    font-size: 18px;
}

.body__card_back input{
    padding: 10px 40px;
    margin-top: 30px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    color: white;
    background: #58B0F6;
    box-shadow: 1px 1px 30px -5px #58B0F6;
    border-radius: 10px;
    transition: box-shadow 600ms;
}

.body__card_back input:hover{
    box-shadow: 1px 1px 30px 0px #449de6;
}


/* BOTON NEON */
.btn-neon{
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: #000000;
    letter-spacing: 3px;
    text-decoration: none;
    font-size: 20px;
    overflow: hidden;
    transition: 0.2s;
}
.btn-neon:hover{
    background: #00ff7b;
    box-shadow: 0 0 10px #00ff7b, 0 0 40px #00ff7b, 0 0 80px #00ff7b;
    transition-delay: 1s;
 }
.btn-neon span{
    position: absolute;
    display: block;
}
#span1{
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent,#00ff7b);
 }
 .btn-neon:hover #span1{
    left: 100%;
    transition: 1s;
}
 #span3{
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent,#00ff7b);
}
 .btn-neon:hover #span3{
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}
#span2{
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,#00ff7b);
}
.btn-neon:hover #span2{
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}
.lead_2{
    font-family: 'Itim', cursive;
    font-size: 1.3em;
    color: black;
}
#span4{
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,#00ff7b);
}
.btn-neon:hover #span4{
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}

.neon 
{
    font-family: "Dancing Script", cursive;
    margin: 0;
    font-size: 50px;
    text-shadow: 0 0 5px rgb(79, 206, 253), 0 0 15px rgb(79, 206, 253), 0 0 30px rgb(79, 206, 253), 0 0 50px rgb(79, 206, 253);
}
.neon2 
{
    font-family: 'Itim';
    letter-spacing: 8px;
    margin: 0;
    font-size: 2em;
    text-shadow: 0 0 5px rgb(0, 229, 255), 0 0 15px rgb(0, 229, 255), 0 0 30px rgb(0, 229, 255);
}

.neon3 {
    font-family: 'Itim';
    margin: 0;
    font-size: 1.5em;
    text-shadow: 0 0 5px white, 0 0 15px white, 0 0 30px white;
}
